In [7]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as f
import pandas as pd

import findspark
findspark.init()

spark = SparkSession.builder.getOrCreate()

### leitura dos datasets

In [17]:
##schema = 'nome STRING, cpf STRING, nomeorgao STRING, nomebenef STRING, ufpag STRING, natpensao STRING, tppensao STRING, dtiniben STRING, dtfimben STRING,',
##         'rendliq STRING, pagsusp STRING'

df_pensionistas = (
    spark
    .read
    .format('csv')
    .option('sep',';')
    .option('header',True)
    .load('PENSIONISTAS_082021.csv')
)

AttributeError: 'DataFrameReader' object has no attribute 'select'

In [20]:
df_pensionistas.head()

Row(NOME DO SERVIDOR INSTITUIDOR='ABELINO ABRANCHES DE ALMEIDA', CPF SERVIDOR INSTITUIDOR='***526847**', DATA NASCIMENTO INSTITUIDOR='06041924', DATA FALECIMENTO INSTITUIDOR='29012021', MATRICULA SERVIDOR INSTITUIDOR='130000000001', NOME DO ORGAO='MINIST.DA AGRICULTURA,PECUARIA E ABAST.', SIGLA DO ORGAO='MAPA', CODIGO ORGAO SUPERIOR='0', CARGO SERVIDOR INSTITUIDOR='AGENTE ADMINISTRATIVO', NIVEL ESCOLARIDADE CARGO='NIVEL INTERMEDIARIO', CLASSE SERVIDOR INSTITUIDOR='S', PADRAO SERVIDOR INSTITUIDOR='III', REFERENCIA SERVIDOR INSTITUIDOR='00', NIVEL SERVIDOR INSTITUIDOR='000', OCORRENCIA DE INGRESSO NO SERVICO PUBLICO SERVIDOR INSTITUIDOR='NOMEACAO PARA CARGO', DATA DE OCORRENCIA DE INGRESSO NO SERVICO PUBLICO SERVIDOR INSTITUIDOR='13101945', NOME DO BENEFICIARIO='MARIA DA CRUZ DOS SANTOS', CPF DO BENEFICIARIO='***973491**', DATA DE NASCIMENTO='28011955', UF DA UPAG DE VINCULACAO='DF', TIPO DE BENEFICIARIO='CONJUGE', TIPO PENSAO='ART. 23 EC 103/2019', NATUREZA PENSAO='VITALICIA', DATA INICIO DO BENEFICIO='29012021', DATA FIM DO BENEFICIO='00000000', RENDIMENTO BRUTO='      3.039,58', RENDIMENTO LIQUIDO='      3.039,58', PAGAMENTO SUSPENSO='NAO', _c28='                                                                                                                                                                                                                                                                                                                                                                                                    ')

In [ ]:
df_pensionistas.

In [39]:
cols = ['NOME DO BENEFICIARIO', 
        'NOME DO ORGAO',
        'DATA DE NASCIMENTO',
        'UF DA UPAG DE VINCULACAO',
        'NATUREZA PENSAO',
        'DATA INICIO DO BENEFICIO',
        'DATA FIM DO BENEFICIO',
        'RENDIMENTO LIQUIDO',
        'PAGAMENTO SUSPENSO']


df = df_pensionistas.select(cols)

In [29]:
df.head()

Row(NOME DO BENEFICIARIO='MARIA DA CRUZ DOS SANTOS', NOME DO ORGAO='MINIST.DA AGRICULTURA,PECUARIA E ABAST.', DATA DE NASCIMENTO='28011955', UF DA UPAG DE VINCULACAO='DF', NATUREZA PENSAO='VITALICIA', DATA INICIO DO BENEFICIO='29012021', DATA FIM DO BENEFICIO='00000000', RENDIMENTO LIQUIDO='      3.039,58', PAGAMENTO SUSPENSO='NAO')

In [40]:
df = (df
 .withColumnRenamed('NOME DO BENEFICIARIO','nome')
 .withColumnRenamed('NOME DO ORGAO','orgao')
 .withColumnRenamed('DATA DE NASCIMENTO','dtnas')
 .withColumnRenamed('UF DA UPAG DE VINCULACAO','uf')
 .withColumnRenamed('NATUREZA PENSAO','natpensao')
 .withColumnRenamed('DATA INICIO DO BENEFICIO','dtiniben')
 .withColumnRenamed('DATA FIM DO BENEFICIO','dtfimben')
 .withColumnRenamed('RENDIMENTO LIQUIDO','rendLiquido')
 .withColumnRenamed('PAGAMENTO SUSPENSO','pagsuspenso')
)

,nome,orgao,dtnas,uf,natpensao,dtiniben,dtfimben,rendLiquido,pagsuspenso
0,MARIA DA CRUZ DOS SANTOS,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",28011955,DF,VITALICIA,29012021,00000000,"3.039,58",NAO
1,CARMEN LUCINDA FARKAS DE ARAUJO,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",18041951,DF,VITALICIA,10021998,00000000,"1.216,25",NAO
2,MARIA DE LOURDES DA SILVA,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",14011948,DF,TEMPORARIA,25012016,00000000,"2.697,46",NAO
3,DIOMARINA ALVES DOS SANTOS,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",18061944,DF,VITALICIA,19122010,00000000,"6.953,77",NAO
4,MARIZETE DIAS SOUZA,"MINIST.DA AGRICULTURA,PECUARIA E ABAST.",18031954,DF,VITALICIA,13102012,00000000,"14.994,89",NAO
...,...,...,...,...,...,...,...,...,...
292041,NILCINEA DA SILVA MIRANDA,COMANDO DA MARINHA,12071968,RJ,TEMPORARIA,22012013,00000000,"1.130,34",NAO
292042,ALCIDINERIA DE ABREU MARQUES,COMANDO DA MARINHA,02091938,RJ,VITALICIA,03072012,00000000,"5.437,24",NAO
292043,SONIA MARIA ESTEVES DE ALMEIDA,COMANDO DA MARINHA,04061952,RJ,TEMPORARIA,15071986,00000000,"3.886,47",NAO
292044,CELIA DE BARROS,COMANDO DA MARINHA,26051940,RJ,TEMPORARIA,27051989,00000000,"2.005,04",NAO
292045,ANDREA EMILIA DE BARROS,COMANDO DA MARINHA,13111966,RJ,TEMPORARIA,27051989,00000000,"2.005,04",NAO